:root {
    --color-rojo: #d40000;
    --color-blanco-oscuro: #f5f5f5;
    --color-blanco-oscuro-translucido: #f5f5f5e5;
    --color-sintelec: #008b8b;
    --color-sintelec-alternativo: #14d8d0;
    --font-Alegreya: "Alegreya", sans-serif;
    --font-OpenSans: "OpenSans";
    --hover-gradiant-down-up: linear-gradient(180deg, rgba(212,0,0,0.798739564185049) 0%, rgba(0,139,139,1) 100%);
    --hover-gradiant-left-right: linear-gradient(270deg, rgba(212,0,0,0.8183474073223039) 0%, rgba(0,139,139,1) 100%);
}