@media (max-width: 500px) {

    #caracteristicas_pre {

      text-align: center;

      h2 {
        padding-left: 0px;
      }
  
      p {
        margin: 0px 20px 5px 20px;
      }
  
    }   
  
}