@media (min-width: 1024px) {
    body {
        display: grid;
        gap: 0px;
        grid-template-columns: repeat(3, 1fr);
        grid-template:
        "a a a"
        "b b b"
        "h h h"
        "d d d"
        "g g g"
        "c c c"
        "f f f"
        "i i i"
        "e e e";
        grid-template-rows: auto;

        header {
            grid-area: a;
        }

        #principio {
            grid-area: b;
        }

        #ayuda {
            grid-area: c;
        }

        #soporte {
            grid-area: d;
        }

        #caracteristicas_pre {
            grid-area: g;
        }

        #premise {
            grid-area: f;
        }

        #beneficios {
            grid-area: h;
        }

        #contact_us {
            grid-area: i;
        }

        footer {
            grid-area: e;
        }

    }
}

@media (max-width: 1024px) {
    body {
        display: grid;
        gap: 0px;
        grid-template-columns: repeat(2, 1fr);
        grid-template:
        "a a"
        "b b"
        "h h"
        "d d"
        "g g"
        "c c"
        "f f"
        "i i"
        "e e";
        grid-template-rows: auto;

        header {
            grid-area: a;
        }

        #principio {
            grid-area: b;
        }

        #ayuda {
            grid-area: c;
        }

        #soporte {
            grid-area: d;
        }

        #caracteristicas_pre {
            grid-area: g;
        }

        #premise {
            grid-area: f;
        }

        #beneficios {
            grid-area: h;
        }

        #contact_us {
            grid-area: i;
        }

        footer {
            grid-area: e;
        }

    }
}

@media (max-width: 830px) {
    body {
        display: grid;
        gap: 0px;
        grid-template-columns: repeat(2, 1fr);
        grid-template:
        "a a"
        "b b"
        "h h"
        "d d"
        "g g"
        "c c"
        "c c"
        "f f"
        "i i"
        "e e";
        grid-template-rows: auto;

        header {
            grid-area: a;
        }

        #principio {
            grid-area: b;
        }

        #ayuda {
            grid-area: c;
        }

        #soporte {
            grid-area: d;
        }

        .caracteristicas {
            grid-area: g;
        }

        #premise {
            grid-area: f;
        }

        #beneficios {
            grid-area: h;
        }

        #contact_us {
            grid-area: i;
        }

        footer {
            grid-area: e;
        }

    }
}