@media (max-width: 1350px) {
    
    header {
        div {
            svg {
                margin: 0px 50px 0px 0px;
            }
        }
    }

}

@media (min-width: 1024px) {
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .menu, #aparecer {
            display: none;
        }
        nav ul {
            display: flex;
            list-style: none;
            padding: 0;
        }
        div {
            display: flex;
            justify-content: space-between;
            width: 40%;
            align-items: center;
            a {
                margin: 0px 0px 0px 20px;
            }
            
        }
        #menu {
            display: flex !important;
        }
    }

}

@media (max-width: 1024px) {

    header {
        display: flex;
        flex-direction: column;
    
        div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        nav ul {
            display: flex;
            flex-direction: column;
        }

        nav {
            width: 100%;
        }

        #menu {
            display: none;
        }

        #aparecer {
            text-align: center;

            li {
                padding-top: 10px;
            }

            li:first-child {
                padding-top: 0px;
            }

        }
    
    }

}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
    
        div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        nav ul {
            display: flex;
            flex-direction: column;
        }

        nav {
            width: 100%;
        }

        #menu {
            display: none;
        }

        #aparecer {
            text-align: center;

            li {
                padding-top: 10px;
            }

            li:first-child {
                padding-top: 0px;
            }

        }
    
    }
}