@media (min-width: 1024px) {
    
    /*
    header div {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "a b";
        grid-template-rows: auto;

        div:first-child {
            grid-area: a;
        }

        nav {
            grid-area: b;
        }

    }
    */

}

@media (max-width: 1024px) {

    header {
        overflow-y: hidden; /* o auto o scroll, según sea necesario */
        overflow-x: hidden; /* o auto o scroll, según sea necesario */
    }

}