@media (min-width: 1024px) {
    header nav li {
        margin-right: 30px;
    }
}

@media (max-width: 1024px) {
    header nav li {
        margin-right: 15px;
    }
    header nav {
        margin-right: 15px;
    }
}