.read_more {
    background-color: var(--color-rojo);
    color: white;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

.read_more:hover {
    transition: 0.5s;
    background-color: white;
    background-color: var(--color-sintelec);
}