#caracteristicas_page .caracteristicas_tabla {
    
    padding-top: 150px;

    button {
        margin-top: 30px;
    }
    
}

#caracteristicas_pre .caracteristicas {

    text-align: center;

    p {
        padding-left: 15px;
    }

}