#caracteristicas_page .caracteristicas {
    
    padding-top: 150px;
    width: 100%;
    margin: 0 auto;

}

#caracteristicas_pre {

    text-align: center;

    p {
        padding-left: 15px;
    }

}