#soporte {
    h2 {
        color: white;
    }

    .celdas:last-child {
        padding-bottom: 20px;
    }

    ul {
        list-style-image: url(../public/img/tic.png);
        padding-left: 10px;
    }

    li {
        font-size: 17px;
    }
}

@media (max-width: 830px) {
    #soporte .container {
      flex-wrap: wrap;
    }
  
    #soporte .celdas {
      width: auto;
    }
  }