#main_page, #caracteristicas_page {
    background-color: var(--color-blanco-oscuro);
    scroll-behavior: smooth;
    letter-spacing: 0.5px;
    overflow-anchor: none;
}

header, #principio, #soporte, #ayuda, footer {
    color: var(--color-blanco);
}

#beneficios, #caracteristicas_pre, #contact_us {
    color: var(--color-negro);
}

footer, header, #soporte, #ayuda {
    background-color: var(--color-rojo) !important;
    width: 100%;
}

#caracteristicas_pre, #soporte > div, #premise, #ayuda > div, #beneficios > div, #contact_us, .caracteristicas_tabla {
    max-width: 1000px;
}

section {
    padding: 80px 0px 80px 0px;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--color-blanco-oscuro);
}

h1 {
    font-family: var(--font-Alegreya);
    font-size: 60px;
    padding-bottom: 15px;
}

h2, h3, p, li, td, th {
    font-family: var(--font-OpenSans);
}

h2 {
    font-size: 45px;
    padding: 10px 0px 20px 15px;
}

.icono_p {
    font-size: 17px;
}

h3 {
    font-size: 22px;
    padding-bottom: 15px;
}

hr {
    color: var(--color-blanco-oscuro);
}

p {
    padding-bottom: 10px;
    line-height: 30px;
}

li, td {
    padding-bottom: 10px;
}

p,a, button {
    font-size: 20px;
}

.container {
    display: flex;
    align-items: flex-start;
}

.flex {
    display: flex;
    justify-content: center;
}

.celdas {
    margin: 10px 5px;
    padding: 7px 10px;
    flex-direction: column;
    border-radius: 5px;
    color: var(--color-blanco-oscuro);
    width: 100%;
}

.celdas_fondo {
    margin: 10px;
    padding: 7px 10px;
    border-radius: 18px;
    background-color: var(--color-sintelec);
    color: var(--color-blanco-oscuro);
    height: 200px;
    transition: height 0.5s ease;
    align-items: center;
    display: grid;
}

.celdas_fondo:hover {
    transition: 0.5s;
    background: var(--hover-gradiant-down-up);
    height: 220px;
}

.cambiar_color {
    color: var(--color-rojo);
}

.cambiar_color_azul {
    color: var(--color-sintelec);
}

//.active {
//    text-decoration: underline;
//    color: green;
//}  