@font-face {
    font-family: "Alegreya";
    src: url("../public/font/Alegreya_Sans_SC/AlegreyaSansSC-Bold.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("../public/font/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf");
}